{% extends "base.html" %}
{% block title %}Chess Game{% endblock title %}
{% load static %}
{% block content %}
<style>
    .space {
        z-index: 999;
        padding-top: 60px;
}
</style>
        <div class="chessBoard space">
            <!--8th rank-->
            <div class="square white">
                <div class="coordinate rank blackText">8</div>
                <div class="piece rook" color="black">
                    <img src="{% static 'img/bR.png' %}" alt="Rook">
                </div>
            </div>
            <div class="square black">
                <div class="piece knight" color="black">
                    <img src="{% static 'img/bN.png' %}" alt="Knight">
                </div>
            </div>
            <div class="square white">
                <div class="piece bishop" color="black">
                    <img src="{% static 'img/bB.png' %}" alt="Bishop">
                </div>
            </div>
            <div class="square black">
                <div class="piece queen" color="black">
                    <img src="{% static 'img/bQ.png' %}" alt="Queen">
                </div>
            </div>
            <div class="square white">
                <div class="piece king" color="black">
                    <img src="{% static 'img/bK.png' %}" alt="King">
                </div>
            </div>
            <div class="square black">
                <div class="piece bishop" color="black">
                    <img src="{% static 'img/bB.png' %}" alt="Bishop">
                </div>
            </div>
            <div class="square white">
                <div class="piece knight" color="black">
                    <img src="{% static 'img/bN.png' %}" alt="Knight">
                </div>
            </div>
            <div class="square black">
                <div class="piece rook" color="black">
                    <img src="{% static 'img/bR.png' %}" alt="Rook">
                </div>
            </div>
            
            <!--7th rank-->
            <div class="square black">
                <div class="coordinate rank whiteText">7</div>
                <div class="piece pawn" color="black">
                    <img src="{% static 'img/bP.png' %}" alt="Pawn">
                </div>
            </div>
            <div class="square white">
                <div class="piece pawn" color="black">
                    <img src="{% static 'img/bP.png' %}" alt="Pawn">
                </div>
            </div>
            <div class="square black">
                <div class="piece pawn" color="black">
                    <img src="{% static 'img/bP.png' %}" alt="Pawn">
                </div>
            </div>
            <div class="square white">
                <div class="piece pawn" color="black">
                    <img src="{% static 'img/bP.png' %}" alt="Pawn">
                </div>
            </div>
            <div class="square black">
                <div class="piece pawn" color="black">
                    <img src="{% static 'img/bP.png' %}" alt="Pawn">
                </div>
            </div>
            <div class="square white">
                <div class="piece pawn" color="black">
                    <img src="{% static 'img/bP.png' %}" alt="Pawn">
                </div>
            </div>
            <div class="square black">
                <div class="piece pawn" color="black">
                    <img src="{% static 'img/bP.png' %}" alt="Pawn">
                </div>
            </div>
            <div class="square white">
                <div class="piece pawn" color="black">
                    <img src="{% static 'img/bP.png' %}" alt="Pawn">
                </div>
            </div>
            
            <!--6th rank-->
            <div class="square white">
                <div class="coordinate rank blackText">6</div>
            </div>
            <div class="square black"></div>
            <div class="square white"></div>
            <div class="square black"></div>
            <div class="square white"></div>
            <div class="square black"></div>
            <div class="square white"></div>
            <div class="square black"></div>
            
            <!--5th rank-->
            <div class="square black">
                <div class="coordinate rank whiteText">5</div>
            </div>
            <div class="square white"></div>
            <div class="square black"></div>
            <div class="square white"></div>
            <div class="square black"></div>
            <div class="square white"></div>
            <div class="square black"></div>
            <div class="square white"></div>
            
            <!--4th rank-->
            <div class="square white">
                <div class="coordinate rank blackText">4</div>
            </div>
            <div class="square black"></div>
            <div class="square white"></div>
            <div class="square black"></div>
            <div class="square white"></div>
            <div class="square black"></div>
            <div class="square white"></div>
            <div class="square black"></div>
            
            <!--3nd rank-->
            <div class="square black">
                <div class="coordinate rank whiteText">3</div>
            </div>
            <div class="square white"></div>
            <div class="square black"></div>
            <div class="square white"></div>
            <div class="square black"></div>
            <div class="square white"></div>
            <div class="square black"></div>
            <div class="square white"></div>
            
            <!--2st rank-->
            <div class="square white">
                <div class="coordinate rank blackText">2</div>
                <div class="piece pawn" color="white">
                    <img src="{% static 'img/wP.png' %}" alt="Pawn">
                </div>
            </div>
            <div class="square black">
                <div class="piece pawn" color="white">
                    <img src="{% static 'img/wP.png' %}" alt="Pawn">
                </div>
            </div>
            <div class="square white">
                <div class="piece pawn" color="white">
                    <img src="{% static 'img/wP.png' %}" alt="Pawn">
                </div>
            </div>
            <div class="square black">
                <div class="piece pawn" color="white">
                    <img src="{% static 'img/wP.png' %}" alt="Pawn">
                </div>
            </div>
            <div class="square white">
                <div class="piece pawn" color="white">
                    <img src="{% static 'img/wP.png' %}" alt="Pawn">
                </div>
            </div>
            <div class="square black">
                <div class="piece pawn" color="white">
                    <img src="{% static 'img/wP.png' %}" alt="Pawn">
                </div>
            </div>
            <div class="square white">
                <div class="piece pawn" color="white">
                    <img src="{% static 'img/wP.png' %}" alt="Pawn">
                </div>
            </div>
            <div class="square black">
                <div class="piece pawn" color="white">
                    <img src="{% static 'img/wP.png' %}" alt="Pawn">
                </div>
            </div>
            
            <!--1th rank-->
            <div class="square black">
                <div class="coordinate rank whiteText">1</div>
                <div class="coordinate whiteText">a</div>
                <div class="piece rook" color="white">
                    <img src="{% static 'img/wR.png' %}" alt="Rook">
                </div>
            </div>
            <div class="square white">
                <div class="coordinate blackText">b</div>
                <div class="piece knight" color="white">
                    <img src="{% static 'img/wN.png' %}" alt="Knight">
                </div>
            </div>
            <div class="square black">
                <div class="coordinate whiteText">c</div>
                <div class="piece bishop" color="white">
                    <img src="{% static 'img/wB.png' %}" alt="Bishop">
                </div>
            </div>
            <div class="square white">
                <div class="coordinate blackText">d</div>
                <div class="piece queen" color="white">
                    <img src="{% static 'img/wQ.png' %}" alt="Queen">
                </div>
            </div>
            <div class="square black">
                <div class="coordinate whiteText">e</div>
                <div class="piece king" color="white">
                    <img src="{% static 'img/wK.png' %}" alt="King">
                </div>
            </div>
            <div class="square white">
                <div class="coordinate blackText">f</div>
                <div class="piece bishop" color="white">
                    <img src="{% static 'img/wB.png' %}" alt="Bishop">
                </div>
            </div>
            <div class="square black">
                <div class="coordinate whiteText">g</div>
                <div class="piece knight" color="white">
                    <img src="{% static 'img/wN.png' %}" alt="Knight">
                </div>
            </div>
            <div class="square white">
                <div class="coordinate blackText">h</div>
                <div class="piece rook" color="white">
                    <img src="{% static 'img/wR.png' %}" alt="Rook">
                </div>
            </div>
            <div id="alert"></div>
            
        </div>
{% endblock content %}