.footer {
    background-color: #198754;
}

.footer-content h2 {
    color: #fff;
}

.footer-content h5,
.footer-content p,
.footer-links a {
    color: #fff;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer hr {
    background-color: #fff;
}